argparse==1.2.1
decorator==4.0.4
ipdb==0.8.1
ipython==4.0.1
ipython-genutils==0.1.0
nltk==3.1
oauthlib==1.0.3
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
requests==2.8.1
requests-oauthlib==0.5.0
simplegeneric==0.8.1
six==1.10.0
telepot==4.1
traitlets==4.0.0
tweepy==3.5.0
wsgiref==0.1.2

